.normalText {
    -fx-font-size: 14px;
}

.titleText {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.errorText {
    -fx-font-size: 14px;
    -fx-text-fill: #842029;
}

.descriptionText {
    -fx-font-size: 14px;
}

.alarmPane {
    -fx-background-color: #F8D7DA;
    -fx-stroke: #F1AEB5;
    -fx-stroke-width: 2;
}

.transparentPane {
    -fx-background-color: transparent;
}